<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @produto.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @produto.descricao %>
</p>

<p>
  <b>Quantidade:</b>
  <%= @produto.quantidade %>
</p>

<p>
  <b>Preco:</b>
  <%= @produto.preco %>
</p>


<%= link_to 'Comprar', comprar_produto_path(@produto) %> |
<%= link_to 'Voltar', produtos_path %>
