<h1>Listing usuarios</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Cpf</th>
    <th>Rg</th>
    <th>Cep</th>
    <th>Complemento</th>
    <th>Email</th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%=h usuario.nome %></td>
    <td><%=h usuario.cpf %></td>
    <td><%=h usuario.rg %></td>
    <td><%=h usuario.cep %></td>
    <td><%=h usuario.complemento %></td>
    <td><%=h usuario.email %></td>
    <td><%= link_to 'Show', usuario %></td>
    <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
    <td><%= link_to 'Destroy', usuario, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New usuario', new_usuario_path %>