<p>
  <b>Nome:</b>
  <%=h @usuario.nome %>
</p>

<p>
  <b>Cpf:</b>
  <%=h @usuario.cpf %>
</p>

<p>
  <b>Rg:</b>
  <%=h @usuario.rg %>
</p>

<p>
  <b>Cep:</b>
  <%=h @usuario.cep %>
</p>

<p>
  <b>Complemento:</b>
  <%=h @usuario.complemento %>
</p>

<p>
  <b>Email:</b>
  <%=h @usuario.email %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>